.About  {
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.about-me-text  {
    position: absolute;
    left: 10%;
    top: 25%;
}

.icons  {
    display: flex;
    justify-content: center;
    flex-direction: row;
}